<!-- 항상 맨 첫 줄에 상속 -->
{% extends 'base.html' %}
{% load static %}


{% block css %}

<link rel="stylesheet" href="{% static 'ylapp/css/about.css' %}">
<link rel="stylesheet" href="{% static 'ylapp/css/likelion.css' %}">
{% endblock css %}


{% block content %}

<div class="outer">
    <div class="info-main">
        <p style="font-size: 30; margin-bottom: 5px;"><span style="color: #FFC86F;">✦</span> 멋쟁이사자처럼? <span
                style="color: #FFC86F;">✦</span></p>
    </div>
    <div class="div-style">
        <div class="ques-cir-con">
            <div class="ques-circle1"></div>
            <div class="ques-circle2"></div>
            <div class="ques-circle2"></div>
        </div>

        <hr class="ques-hr">
        <article class="about">
            <p style="margin-top: 16px;">
            <h4> 안녕하세요!<br>우리는 <span style="color:orange;">멋쟁이 사자처럼</span>입니다.</h4>
            <br>
            <p>멋쟁이사자처럼 대학생은 멋쟁이사자처럼의 시작점으로 2013년 서울대학교 30명의 학생(경쟁률7:1)에게 <br> Ruby on Rails 기반의 교육 프로그램을 진행하는 것으로
                시작되었습니다.</p>
            <p>그 후 현재까지 총 8년간 "내 아이디어를 내 손으로 실현한다"라는 가치 아래 전국 대학을 포함한 <br> 세계 130여개 대학에서 선발된 8,400여명의 학생들이 활동하였으며 교육
                프로그램을 통해 1,000여개의 서비스가 제작되었습니다.</p>
            <p>현재 국내에서 가장 많은 학생들이 활동하고 있는 프로그래밍 교육 프로그램이며, 현재는 Python & Django 기반으로 교육을 진행하고 있습니다.</p>
            <p></p>
            <a style="color: orange; text-decoration: underline; font-size: 15;"
                href="https://www.likelion.net/univ">멋쟁이사자처럼 대학 바로가기</a>
            </P>

        </article>
    </div>
    <div class="info-main">
        <p style="font-size: 30; margin-top: 70px; margin-bottom: 5px;"><span style="color: #FFC86F;">✦</span> 멋사 at
            SKHU
            <span style="color: #FFC86F;">✦</span>
        </p>
    </div>
    <div class="div-style">
        <div class="ques-cir-con">
            <div class="ques-circle1"></div>
            <div class="ques-circle2"></div>
            <div class="ques-circle2"></div>
        </div>

        <hr class="ques-hr">
        <article class="about">
            <p style="margin-top: 16px;">
            <h4>"내 아이디어를 내 손으로 실현한다"<br>가치 아래에서 시작된
                <br>전국 연합 동아리 <span style="color: orange;">멋쟁이 사자처럼</span></h4>
            <br>
            <p>자신이 생각했던 아이디어를 구체화하고 프로그래밍 교육을 통해 <br>
                웹서비스 구현을 목표로 활동하는 전국 연합동아리입니다. <br>
                프로그래밍에 대해 전혀 모르는 비전공자도, 신입생도 환영합니다. <br>
                <br>
                우리 멋쟁이 사자처럼 성공회대학교는 <br>
                2022년을 함께 나아갈 아기사자를 찾고 있습니다. <br>
                멋쟁이 사자처럼에서 함께 성장할 아기사자를 모집합니다 !
            </p>
            </P>
            <!---skhu 홍보페이지 구현후 추가해야함!!!!!!!!!!!!!!!!!!-->
            <p>아래 이미지를 클릭하면 성공회대 10기 운영진들이 제작한 <span style="color:orange">홍보 페이지</span>로 이동합니다.</p>
            <a href=""><img src="{% static 'ylapp/img/skhu_likelion.png' %}" class="skhu-likelion" style="margin-bottom: 30px;"></a>
        </article>
    </div>
</div>





{% endblock %}