@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

.body{
    background-color: white;
    max-width: 600px;
    position: relative;
    margin-top: 50px;
    padding: 0;
    font-family: 'Pretendard-Regular';

}

.percent{
    font-size: 15;
    color:#979797
}

.lion-result{
    font-size: 20;
    color:#979797
}

.info-main{
    font-family: 'ONE-Mobile-POP';
    font-size: 5vh;
    margin : 0px 0px 0px;
    color:rgb(95, 95, 95)
}

.info{
    padding-left: 10px;
    padding-right: 10px;
    margin: 50px 0px 2px;
    color: white;
    background-color: #FFC86F;
    display: inline-block;
    border-radius: 60px;
    font-size: 2.3vh;

}

.info-image{
    max-width: 30%;
}

#result-lion{
    font-family: 'KOTRAHOPE';
}
article {
    display: flex;
    flex-direction: column;
}

.all_lions {
    display: none;
}

.start {
    display: none;
}

.question {
    display: none;
}

.loading {
    display: none;
}
.loading_css{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading img{
    width : 80%;
    height: auto;
    display: flex;
    justify-content: center;
}
.loading_css p {
    font-size : 39px;
}
.result {
    display: none;
}

.container {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.maintest{
    background-color: #ffffff;
}




.main-btn {
    all: unset;
    background: #FFDF74;
}

.yourlion-img {
    margin-top: 60px;
    width: 100%;

}

.link-img{
    padding: 8px;

}

.link-margin{
    margin: 0px 0px 10px;
}

.teststart-btn {
    all: unset;
    background-color: white;
    color: #FF9922;
    border-radius: 60px;
    max-width: 200px;
    width: 100%;
    height: 80px;
    font-size: 20pt;
    display: inline-block;
    text-align: center;
    margin: 60px;
    font-family: 'Cafe24Ssurround';
}

.index-cont {
    text-align: center;
}

.ft-flex-con{
    margin-top: 25px;
    display: inline-grid;
    grid-template-columns: 200px 200px 200px;
    height: 250px;
}

.ft-lion {
    max-width: 300px;
    width: 100%;
    height: 225px;
}

.ft-grass {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    display: inline-block;
    margin-top: -110px;
}

/* 테스트 설명 부분 */
.exlogo-con {
    text-align: center;
    margin-bottom: 50px;
}

.lion-logo {
    max-width: 230px;
    width: 100%;
    height: 150px;
}

.lion-img{
    max-width: 500px;
    width: 80%
}

.ques-con {
    text-align: center;
}


.ques-squ {
    max-width: 500px;
    margin-top: 100px;
    display: inline-block;
    width: 90%;
    height: auto;
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
}

.ques-hr {
    width: 100%;
    height: 3px; 
    background-color: #FFC86F;
    margin-top: 20px;
    margin-bottom: 8px;
}

.ques-cir-con {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    margin-left: 15px;
    margin-top: 10px;
}

.ques-circle1 {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #FFC86F;
    float: left;
    margin: 5px;
}

.ques-circle2 {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #FFDF74;
    float: left;
    margin: 5px;
}
.ques-box {
    text-align: center;
    padding: 25px;
    height: 230px;
}
.ques-contbox {
    text-align: center;
    padding: 25px;
}

.question-text {
    font-family: 'KOTRAHOPE';
    font-size: 16pt;
    text-align: left;
}

.exlogo-con {
    text-align: center;
}

.start-btn {
    display: block;
    all: unset;
    color: white;
    background-color: #FFC86F;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    font-family: 'Cafe24Ssurround';
    font-size: 16pt;
    margin-bottom: 30px;
}   

.test-btn {
    display: block;
    all: unset;
    color: white;
    background-color: #FFC86F;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    font-family: 'ONE-Mobile-POP';
    font-size: 16pt;
    margin-bottom: 30px;
}   

/* 질문 */
#A {
    display: block;
    all: unset;
    color: WHITE;
    background-color: #FFC86F;
    border-radius: 5px;
    width: 250px;
    height: 80px;
    font-family: 'Cafe24Ssurround';
    font-size: 12pt;
    margin-bottom: 30px;
    padding: 10px;
}

#B {
    display: block;
    all: unset;
    color: WHITE;
    background-color: #FFC86F;
    border-radius: 5px;
    width: 250px;
    height: 80px;
    font-family: 'Cafe24Ssurround';
    font-size: 12pt;
    margin-bottom: 30px;
    padding: 10px;
}

/* .result-img {
    width: 300px;
} */
@keyframes colorchange{
    0%{
        color : #FF9922;
    }
    25%{
        color : rgb(95, 95, 95)
    }
    50%{
        color : #FF9922;
    }
    100%{
        color : rgb(95, 95, 95)
    }
}
.odd_number{
    animation-duration: 3s;
    animation-name : colorchange;
}

@keyframes colorchange2{
    0%{
        color : rgb(95, 95, 95)
    }
    25%{
        color : #FF9922;
    }
    50%{
        color : rgb(95, 95, 95)
    }
    100%{
        color : #FF9922;
    }
}
.even_number{
    animation-duration: 3s;
    animation-name : colorchange2;
}

.fa-home:before {
    color : white;

}

.progress{
    margin : 10px 0px 50px 0 !important;
    background-color: white !important;
    border-radius: 100px !important;
}
.progress-bar{
    background-color: #FF9922 !important;
    border-radius: 100px !important;
}
/* .result_ptags{
    padding : 20px 0;
    margin : 20px;
    position : relative;
    
} */
.result_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'KOTRAHOPE';
}
.result_button button{
    background-color: orange;
    border-radius: 40px;
    color : white;
    padding  : 10px;
    font-size : 30px;
    box-shadow: 0px 10px black;
    border : none;
    width : 280px;
    margin-bottom: 20px;
}
.color_underline{
    background-color : #FF9922;
    opacity:0.5;
    width : 100px;
    height: 15px;
    position : absolute;
    left : 150px;
    bottom : 67px;

}

.color_underline:nth-child(2){
    bottom : 84px;
}
.color_underline:last-child{
    bottom : 35px;
}

.ques-contbox p:first-child{
    color : rgb(95, 95, 95);
}

.link-page{
    color: orange; font-size: 13;
    font-family: 'Pretendard-Regular';
    margin-bottom: 20px;
}

/* 모든유형사자보기 테스트용... */
.order-img-con {
    display: inline-block;
}

.order-img {
    width: 100px;
    height: 100px;
}

/* 사자 궁합 테스트용... */
.matching-img {
    max-width: 100px;
    width: 80%;
}